{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
{% load static %}

{% comment %}
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-static-top navbar-light navbar-border navbar-brand-center">
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mobile-menu d-md-none mr-auto"><a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="ft-menu font-large-1"></i></a></li>
        <li class="nav-item">
          <a href="index.html" class="navbar-brand">
            <h2 class="brand-text">Stack</h2>
          </a>
        </li>
        <li class="nav-item d-md-none">
          <a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container"><i class="fa fa-ellipsis-v"></i></a>
        </li>
      </ul>
    </div>
    <div class="navbar-container container center-layout">
      <div id="navbar-mobile" class="collapse navbar-collapse">
        <ul class="nav navbar-nav mr-auto float-left">
          <li class="nav-item d-none d-md-block"><a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="ft-menu"></i></a></li>
          <li class="nav-item d-none d-md-block"><a href="#" class="nav-link nav-link-expand"><i class="ficon ft-maximize"></i></a></li>
          <li class="nav-item nav-search"><a href="#" class="nav-link nav-link-search"><i class="ficon ft-search"></i></a>
            <div class="search-input">
              <input type="text" placeholder="Explore Stack..." class="input">
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav float-right">
          <li class="dropdown dropdown-user nav-item">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
              <span class="avatar avatar-online">
                <img src="{% static 'furniture/images/portrait/small/avatar-s-1.png'%}" alt="avatar"><i></i></span>
              <span class="user-name">John Doe</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right"><a href="#" class="dropdown-item"><i class="ft-user"></i> Edit Profile</a>
              <a href="#" class="dropdown-item"><i class="ft-mail"></i> My Inbox</a>
              <a href="#" class="dropdown-item"><i class="ft-check-square"></i> Task</a>
              <a href="#" class="dropdown-item"><i class="ft-message-square"></i> Chats</a>
              <div class="dropdown-divider"></div><a href="#" class="dropdown-item"><i class="ft-power"></i> Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div role="navigation" data-menu="menu-wrapper" class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-shadow menu-border">
  <!-- Horizontal menu content-->
  <div data-menu="menu-container" class="navbar-container main-menu-content container center-layout">
    <!-- include ../../../includes/mixins-->
    <ul id="main-menu-navigation" data-menu="menu-navigation" class="nav navbar-nav">
      <li data-menu="dropdown" class="dropdown nav-item">
        <a href="index.html" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li data-menu="dropdown" class="dropdown nav-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-monitor"></i><span>Departments</span></a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Offers</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- /horizontal menu content-->
</div>
{% endcomment %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PFurniture</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Departments</a></li>
        {% block nav_dropdown_extra_items %}
            <li><a href="{% url 'offer:list' %}">{% trans "Offers" %}</a></li>
        {% endblock %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="./">
            <i class="icon-heart"></i>
            <span>Saves</span>
          </a>
        </li>
        <li>
          <a href="#" id="cart">
            <i class="icon-shopping-cart"></i>
            <span>Basket</span>
          </a>
        </li>
      </ul>
      <div class="navbar-center">
        {% include "partials/search.html" %}
      </div>
    </div>
  </div>
</nav>

{% include "basket/partials/basket_quick.html" %}
