{% load history_tags %}
{% load basket_tags %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

<div class="container">
  <div class="shopping-cart" style="display:none;">
    <div class="shopping-cart-header">
      <i class="icon-shopping-cart"></i><span class="badge">3</span>
      <div class="shopping-cart-total">
        <span class="lighter-text">{% trans "Total:" %}</span>
        {% if request.basket.is_tax_known %}
            <span class="main-color-text">{{ request.basket.total_incl_tax|currency:request.basket.currency }}</span>
        {% else %}
            <span class="main-color-text">{{ request.basket.total_excl_tax|currency:request.basket.currency }}</span>
        {% endif %}
      </div>
    </div> <!--end shopping-cart-header -->

    <ul class="shopping-cart-items">
      {% if request.basket.num_lines %}
          {% for line in request.basket.all_lines %}
            <li class="clearfix">
              {% with image=line.product.primary_image %}
                  {% thumbnail image.original "100x100" upscale=False as thumb %}
                  <a href="{{ line.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ line.product.get_title }}"></a>
                  {% endthumbnail %}
              {% endwith %}
              <span class="item-name">
                <a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a>
              </span>
              <span class="item-price">
                {{ line.unit_price_excl_tax|currency:request.basket.currency }}
              </span>
              <span class="item-quantity">{{ line.quantity }}</span>
            </li>
          {% endfor %}
      {% else %}
          <li><p>{% trans "Your basket is empty." %}</p></li>
      {% endif %}
    </ul>

    <a href="#" class="button">Checkout</a>
  </div> <!--end shopping-cart -->
</div> <!--end container -->
