{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}


{% block product %}
    <div class="card">
      <div class="card-header">
        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="card-content collapse show" style="">
        {% block product_image %}
            <div class="image_container">
                {% with image=product.primary_image %}
                    {% thumbnail image.original "x155" upscale=False as thumb %}
                    <a hrezf="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="card-img-top img-fluid"></a>
                    {% endthumbnail %}
                {% endwith %}
            </div>
        {% endblock %}
        <div class="card-body">
          {% block product_title %}
              <h4 class="card-title">
                <a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">{{ product.get_title|truncatewords:4 }}</a>
              </h4>
              {% block product_review %}
                  {% iffeature "reviews" %}
                      <p class="star-rating {{ product.rating|as_stars }}">
                          <i class="icon-star"></i>
                          <i class="icon-star"></i>
                          <i class="icon-star"></i>
                          <i class="icon-star"></i>
                          <i class="icon-star"></i>
                      </p>
                  {% endiffeature %}
              {% endblock %}
          {% endblock %}
        </div>
        <div class="card-footer text-muted">
          {% block product_price %}
              <span class="float-left product_price">
                  {% include "catalogue/partials/stock_record.html" %}
              </span>
              <span class="float-right">
                {% if not product.is_parent %}
                    {% include "catalogue/partials/add_to_basket_form_compact.html" %}
                {% endif %}
              </span>
          {% endblock %}
        </div>
      </div>
    </div>
{% endblock %}
