{% extends "customer/baseaccountpage.html" %}

{% load i18n %}

{% block tabcontent %}
    <table class="table table-responsive">
      {% comment %}
        {% block profile_fields %}
            {% for field in profile_fields %}
                <tr>
                    <th>{{ field.name }}</th>
                    <td>{{ field.value|default:"-" }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
      {% endcomment %}
        <thead>
          <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Email address' %}</th>
            <th>{% trans 'Date registered' %}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ user.get_full_name|default:'Anonymous' }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.date_joined }}</td>
          </tr>
        </tbody>
    </table>

    <a href="{% url 'customer:change-password' %}" class="btn btn-primary">{% trans 'Change password' %}</a>
    <a href="{% url 'customer:profile-update' %}" class="btn btn-primary">{% trans 'Edit profile' %}</a>
    <a id="delete_profile" href="{% url 'customer:profile-delete' %}" class="btn btn-danger">{% trans 'Delete profile' %}</a>

{% endblock %}
