{% load i18n static %}
<div class="related-widget-wrapper">
    {{ rendered_widget }}
    {% block links %}
        {% spaceless %}
        <a class="related-widget-wrapper-link change-related" id="change_id_{{ name }}"
            data-href-template="{{ change_related_template_url }}?{{ url_params }}"
            title="{% blocktrans %}Change selected {{ model }}{% endblocktrans %}">
            <img src="{% static 'furniture/img/ui/icon-changelink.svg' %}" alt="{% trans 'Change' %}"/>
        </a>
        <a class="related-widget-wrapper-link add-related" id="create_id_{{ name }}"
            href="{{ add_related_url }}?{{ url_params }}"
            title="{% blocktrans %}Add another {{ model }}{% endblocktrans %}">
            <img src="{% static 'furniture/img/ui/icon-addlink.svg' %}" alt="{% trans 'Add' %}"/>
        </a>
        <a class="related-widget-wrapper-link delete-related" id="delete_id_{{ name }}"
            data-href-template="{{ delete_related_template_url }}?{{ url_params }}"
            title="{% blocktrans %}Delete selected {{ model }}{% endblocktrans %}">
            <img src="{% static 'furniture/img/ui/icon-deletelink.svg' %}" alt="{% trans 'Delete' %}"/>
        </a>
        {% endspaceless %}
    {% endblock %}
</div>
