
aside.sidebar {
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    background: #fff;
    padding: 20px;
}

.sort-option {
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    background: #fff;
    padding: 10px;
    margin: 10px 0;
}
